[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ccxt = "*"
streamlit = "*"
pandas = "*"
plotly = "*"
ta = "*"

[dev-packages]

[requires]
python_version = "3.9"
